.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.brand-logo img {
  height: 57px;
  margin: 5px;
}

#prev-col img {
  max-width: 300px;
  max-height: 300px;
}
#prev-col #base64-code {
  max-width: 300px;
}

#converter-img {
  display: none;
}

h3.header {
  font-size: 18px;
  margin-top: 0;
}

h1.header {
  margin-bottom: 0;
}

#base64-art {
  font-family: monospace;
  max-height: 141px;
  height: 141px;
  overflow-y: scroll;
  resize: none;
  line-height: normal;
  padding: 0.8rem 0 0.8rem 0;
  resize: none;
  min-height: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  box-shadow: none;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

#image-preview {
  position: relative;
}

#throbber {
  display: none;
  height: 300px;
  max-height: 300px;
  width: 100%;
  max-width: 300px;
  background: url(../img/loading.gif) center center no-repeat rgba(235, 235, 235, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
}

body.loading #throbber {
  display: block;
}

.nobase64 #base64-code, .nobase64 #copy-base64 {
  display: none;
}

#wbm a {
  font-size: 0;
  padding: 0;
  width: 221px;
  height: 57px;
  background: url(../img/t1-wbm.png) center center no-repeat transparent;
  background-size: contain;
  display: inline-block;
}

#wbm {
  display: inline-block;
}

#dotoday {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 8px;
  padding: 8px;
  line-height: 1;
  height: auto;
}

body.nobase64 #b64row {
  display: none;
}
