.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.brand-logo img {
  height: 57px;
  margin: 5px;
}

#prev-col img {
  max-width: 300px;
  max-height: 300px;
}
#prev-col #base64-code {
  max-width: 300px;
}

#converter-img {
  display: none;
}

h3.header {
  font-size: 18px;
  margin-top: 0;
}

h1.header {
  margin-bottom: 0;
}
